In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [2]:
movies=pd.read_csv('movies_metadata.csv')

/Users/joyharjanto/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
list(movies)
#movies.iloc[:,]

['adult',
 'belongs_to_collection',
 'budget',
 'genres',
 'homepage',
 'id',
 'imdb_id',
 'original_language',
 'original_title',
 'overview',
 'popularity',
 'poster_path',
 'production_companies',
 'production_countries',
 'release_date',
 'revenue',
 'runtime',
 'spoken_languages',
 'status',
 'tagline',
 'title',
 'video',
 'vote_average',
 'vote_count']

In [45]:
me_too=movies.loc[:,['release_date','revenue','production_companies','production_countries']]

In [46]:
type(me_too)

pandas.core.frame.DataFrame

In [47]:
#me_too=me_too.dropna

In [48]:
me_too=me_too.dropna()
me_too=me_too[me_too.revenue!=0]

me_too

,release_date,revenue,production_companies,production_countries
0,1995-10-30,373554033.0,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o..."
1,1995-12-15,262797249.0,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o..."
3,1995-12-22,81452156.0,[{'name': 'Twentieth Century Fox Film Corporat...,"[{'iso_3166_1': 'US', 'name': 'United States o..."
4,1995-02-10,76578911.0,"[{'name': 'Sandollar Productions', 'id': 5842}...","[{'iso_3166_1': 'US', 'name': 'United States o..."
5,1995-12-15,187436818.0,"[{'name': 'Regency Enterprises', 'id': 508}, {...","[{'iso_3166_1': 'US', 'name': 'United States o..."
8,1995-12-22,64350171.0,"[{'name': 'Universal Pictures', 'id': 33}, {'n...","[{'iso_3166_1': 'US', 'name': 'United States o..."
9,1995-11-16,352194034.0,"[{'name': 'United Artists', 'id': 60}, {'name'...","[{'iso_3166_1': 'GB', 'name': 'United Kingdom'..."
10,1995-11-17,107879496.0,"[{'name': 'Columbia Pictures', 'id': 5}, {'nam...","[{'iso_3166_1': 'US', 'name': 'United States o..."
12,1995-12-22,11348324.0,"[{'name': 'Universal Pictures', 'id': 33}, {'n...","[{'iso_3166_1': 'US', 'name': 'United States o..."
13,1995-12-22,13681765.0,"[{'name': 'Hollywood Pictures', 'id': 915}, {'...","[{'iso_3166_1': 'US', 'name': 'United States o..."
14,1995-12-22,10017322.0,"[{'name': 'Le Studio Canal+', 'id': 183}, {'na...","[{'iso_3166_1': 'FR', 'name': 'France'}, {'iso..."
15,1995-11-22,116112375.0,"[{'name': 'Universal Pictures', 'id': 33}, {'n...","[{'iso_3166_1': 'FR', 'name': 'France'}, {'iso..."
16,1995-12-13,135000000.0,"[{'name': 'Columbia Pictures Corporation', 'id...","[{'iso_3166_1': 'GB', 'name': 'United Kingdom'..."
17,1995-12-09,4300000.0,"[{'name': 'Miramax Films', 'id': 14}, {'name':...","[{'iso_3166_1': 'US', 'name': 'United States o..."
18,1995-11-10,212385533.0,"[{'name': 'O Entertainment', 'id': 5682}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o..."
19,1995-11-21,35431113.0,"[{'name': 'Columbia Pictures', 'id': 5}]","[{'iso_3166_1': 'US', 'name': 'United States o..."
20,1995-10-20,115101622.0,"[{'name': 'Jersey Films', 'id': 216}, {'name':...","[{'iso_3166_1': 'US', 'name': 'United States o..."
22,1995-10-06,30303072.0,"[{'name': 'Silver Pictures', 'id': 1885}, {'na...","[{'iso_3166_1': 'FR', 'name': 'France'}, {'iso..."
24,1995-10-27,49800000.0,"[{'name': 'United Artists', 'id': 60}, {'name'...","[{'iso_3166_1': 'US', 'name': 'United States o..."
26,1995-10-20,27400000.0,"[{'name': 'New Line Cinema', 'id': 12}]","[{'iso_3166_1': 'US', 'name': 'United States o..."
28,1995-05-16,1738611.0,"[{'name': 'Procirep', 'id': 311}, {'name': 'Co...","[{'iso_3166_1': 'FR', 'name': 'France'}, {'iso..."
30,1995-08-11,180000000.0,"[{'name': 'Hollywood Pictures', 'id': 915}, {'...","[{'iso_3166_1': 'US', 'name': 'United States o..."
31,1995-12-29,168840000.0,"[{'name': 'Universal Pictures', 'id': 33}, {'n...","[{'iso_3166_1': 'US', 'name': 'United States o..."
33,1995-07-18,254134910.0,"[{'name': 'Universal Pictures', 'id': 33}, {'n...","[{'iso_3166_1': 'AU', 'name': 'Australia'}, {'..."
35,1995-12-29,39363635.0,"[{'name': 'Havoc', 'id': 406}, {'name': 'PolyG...","[{'iso_3166_1': 'US', 'name': 'United States o..."
39,1995-12-15,676525.0,"[{'name': 'Miramax', 'id': 53009}, {'name': 'D...","[{'iso_3166_1': 'ZA', 'name': 'South Africa'}]"
43,1995-08-18,122195920.0,"[{'name': 'New Line Cinema', 'id': 12}, {'name...","[{'iso_3166_1': 'US', 'name': 'United States o..."
44,1995-05-20,21284514.0,"[{'name': 'The Rank Organisation', 'id': 364},...","[{'iso_3166_1': 'US', 'name': 'United States o..."
45,1995-10-06,23574130.0,"[{'name': 'Universal Pictures', 'id': 33}, {'n...","[{'iso_3166_1': 'US', 'name': 'United States o..."
46,1995-09-22,327311859.0,"[{'name': 'New Line Cinema', 'id': 12}, {'name...","[{'iso_3166_1': 'US', 'name': 'United States o..."
...,...,...,...,...
44791,2017-01-18,56100000.0,"[{'name': 'CJ Entertainment', 'id': 7036}]","[{'iso_3166_1': 'KR', 'name': 'South Korea'}]"
44812,2016-04-23,1015339.0,"[{'name': 'Toei Company', 'id': 9255}, {'name'...","[{'iso_3166_1': 'JP', 'name': 'Japan'}]"
44818,2017-04-14,393970.0,"[{'name': 'Meteor 17', 'id': 58572}, {'name': ...","[{'iso_3166_1': 'US', 'name': 'United States o..."
44821,2000-07-08,68411275.0,"[{'name': 'TV Tokyo', 'id': 3034}, {'name': '4...","[{'iso_3166_1': 'JP', 'name': 'Japan'}]"
44826,2001-07-06,28023563.0,[],"[{'iso_3166_1': 'JP', 'name': 'Japan'}, {'iso_..."
44842,2017-06-21,604942143.0,"[{'name': 'Paramount Pictures', 'id': 4}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o..."
44844,2012-07-11,103504.0,"[{'name': 'Canal+', 'id': 5358}, {'name': 'Cin...","[{'iso_3166_1': 'FR', 'name': 'France'}]"
44848,2012-12-27,11666088.0,"[{'name': 'Enjoy Movies', 'id': 9340}]","[{'iso_3166_1': 'RU', 'name': 'Russia'}]"
44850,2011-07-21,8000000.0,[],"[{'iso_3166_1': 'RU', 'name': 'Russia'}]"
44856,2011-02-03,1957000.0,"[{'name': 'Profit', 'id': 21163}]","[{'iso_3166_1': 'RU', 'name': 'Russia'}]"
44888,2016-08-17,126463.0,"[{'name': 'Canal+', 'id': 5358}, {'name': 'Cin...","[{'iso_3166_1': 'FR', 'name': 'France'}, {'iso..."
44904,2017-08-11,10893246.0,"[{'name': 'Rhea Films', 'id': 37504}, {'name':...","[{'iso_3166_1': 'US', 'name': 'United States o..."
44947,2000-08-31,1805884.0,"[{'name': 'Rai Cinemafiction', 'id': 238}, {'n...","[{'iso_3166_1': 'IT', 'name': 'Italy'}]"
44956,2017-06-29,422.0,"[{'name': 'Pandemonium', 'id': 8915}, {'name':...","[{'iso_3166_1': 'AU', 'name': 'Australia'}, {'..."
44970,2005-12-30,2411594.0,"[{'name': 'Talent House', 'id': 4463}]","[{'iso_3166_1': 'FI', 'name': 'Finland'}]"
45014,2017-08-03,71000000.0,"[{'name': 'Imagine Entertainment', 'id': 23}, ...","[{'iso_3166_1': 'ZA', 'name': 'South Africa'},..."
45063,2014-04-25,76000000.0,"[{'name': 'Enlight Pictures', 'id': 4053}]","[{'iso_3166_1': 'CN', 'name': 'China'}]"
45093,2012-12-09,14353.0,"[{'name': 'Yellow, Black & White', 'id': 42877}]","[{'iso_3166_1': 'RU', 'name': 'Russia'}]"
45139,2017-07-28,66913939.0,"[{'name': 'Columbia Pictures', 'id': 5}, {'nam...","[{'iso_3166_1': 'US', 'name': 'United States o..."
45167,2017-08-03,184770205.0,"[{'name': 'Thunder Road Pictures', 'id': 3528}...","[{'iso_3166_1': 'GB', 'name': 'United Kingdom'..."
45238,2017-02-01,7800000.0,"[{'name': 'StudioCanal', 'id': 694}, {'name': ...","[{'iso_3166_1': 'CA', 'name': 'Canada'}, {'iso..."
45248,1995-01-15,15000000.0,"[{'name': 'Sathya Movies', 'id': 16434}]","[{'iso_3166_1': 'IN', 'name': 'India'}]"
45250,2007-06-14,19000000.0,"[{'name': 'AVM Productions', 'id': 16424}]","[{'iso_3166_1': 'IN', 'name': 'India'}]"
45265,2014-08-15,1359497.0,"[{'name': 'Motlys', 'id': 2783}, {'name': 'Cop...","[{'iso_3166_1': 'NO', 'name': 'Norway'}, {'iso..."
45381,2014-03-13,320395.0,"[{'name': 'Lyuksor', 'id': 21946}]","[{'iso_3166_1': 'RU', 'name': 'Russia'}]"
45399,2014-06-05,3.0,"[{'name': 'Кинокомпания «Lunapark»', 'id': 420...","[{'iso_3166_1': 'RU', 'name': 'Russia'}]"
45401,2009-10-09,50656.0,"[{'name': 'Central Partnership', 'id': 9342}, ...","[{'iso_3166_1': 'RU', 'name': 'Russia'}]"
45409,2006-11-23,1328612.0,[],[]
45412,2010-09-30,1268793.0,"[{'name': 'Profit', 'id': 21163}]","[{'iso_3166_1': 'RU', 'name': 'Russia'}]"
45422,2007-09-06,1413000.0,[],"[{'iso_3166_1': 'RU', 'name': 'Russia'}]"

In [8]:
l=list()
old=me_too.release_date
print(me_too.index.values)


index=me_too.index.values
#len(index)
index[7406]

for j in range(0,7406):
    l.append(old[index[j]][:4])
    #print(old[j])
  #  if()
  #  l.append(old[j][0:4])
   
    #l=l.append(old[j][:4])
#print(l)

#print(old)
#print(old[45461])
#print(old[46461])

[    0     1     3 ... 45409 45412 45422]

In [9]:
print(l)
#me_too.release_date=l

['1995', '1995', '1995', '1995', '1995', '1995', '1995', '1995', '1995', '1995', '1995', '1995', '1995', '1995', '1995', '1995', '1995', '1995', '1995', '1995', '1995', '1995', '1995', '1995', '1995', '1995', '1995', '1995', '1995', '1995', '1995', '1995', '1995', '1995', '1995', '1996', '1995', '1996', '1995', '1995', '1996', '1996', '1995', '1995', '1996', '1996', '1995', '1996', '1995', '1996', '1996', '1996', '1995', '1996', '1995', '1976', '1995', '1995', '1995', '1992', '1996', '1995', '1995', '1996', '1995', '1995', '1995', '1995', '1995', '1995', '1995', '1995', '1995', '1995', '1995', '1994', '1995', '1995', '1995', '1995', '1995', '1995', '1995', '1995', '1995', '1995', '1995', '1995', '1995', '1995', '1995', '1995', '1995', '1995', '1995', '1995', '1995', '1995', '1995', '1995', '1995', '1995', '1995', '1995', '1995', '1995', '1995', '1994', '1994', '1995', '1995', '1995', '1994', '1994', '1994', '1994', '1994', '1994', '1994', '1995', '1995', '1995', '1994', '1994', '1995', '1995', '1994', '1995', '1994', '1977', '1992', '1994', '1995', '1994', '1994', '1994', '1995', '1995', '1994', '1994', '1994', '1995', '1994', '1995', '1994', '1995', '1992', '1994', '1995', '1995', '1994', '1994', '1994', '1994', '1994', '1994', '1993', '1995', '1994', '1995', '1995', '1993', '1995', '1995', '1994', '1994', '1994', '1994', '1992', '1994', '1994', '1994', '1994', '1994', '1994', '1994', '1995', '1994', '1994', '1993', '1994', '1993', '1994', '1994', '1994', '1994', '1993', '1994', '1994', '1994', '1994', '1994', '1994', '1994', '1994', '1994', '1994', '1994', '1993', '1993', '1994', '1994', '1994', '1994', '1994', '1993', '1993', '1993', '1994', '1993', '1993', '1994', '1993', '1994', '1993', '1993', '1993', '1993', '1993', '1993', '1993', '1993', '1993', '1994', '1993', '1993', '1993', '1994', '1993', '1993', '1994', '1993', '1993', '1993', '1993', '1993', '1993', '1993', '1993', '1993', '1993', '1996', '1993', '1994', '1994', '1993', '1993', '1993', '1993', '1993', '1994', '1994', '1993', '1994', '1993', '1993', '1993', '1993', '1993', '1993', '1993', '1993', '1994', '1994', '1993', '1993', '1993', '1993', '1982', '1993', '1993', '1993', '1994', '1994', '1993', '1993', '1993', '1993', '1994', '1994', '1994', '1994', '1990', '1990', '1992', '1991', '1990', '1989', '1991', '1937', '1991', '1940', '1990', '1969', '1996', '1995', '1996', '1996', '1996', '1970', '1995', '1996', '1996', '1995', '1996', '1996', '1996', '1996', '1996', '1996', '1996', '1996', '1955', '1959', '1996', '1968', '1996', '1995', '1996', '1988', '1996', '1995', '1996', '1996', '1996', '1996', '1996', '1996', '1995', '1996', '1964', '1996', '1996', '1996', '1996', '1996', '1996', '1996', '1996', '1996', '1996', '1996', '1996', '1994', '1996', '1996', '1996', '1996', '1996', '1996', '1996', '1996', '1996', '1996', '1996', '1996', '1996', '1996', '1996', '1996', '1996', '1996', '1996', '1996', '1996', '1996', '1991', '1972', '1992', '1996', '1996', '1997', '1996', '1996', '1995', '1952', '1951', '1961', '1958', '1954', '1934', '1959', '1960', '1959', '1963', '1942', '1941', '1964', '1954', '1953', '1939', '1939', '1950', '1941', '1968', '1950', '1939', '1940', '1946', '1945', '1955', '1939', '1938', '1944', '1935', '1956', '1955', '1934', '1956', '1946', '1939', '1968', '1951', '1958', '1954', '1932', '1997', '1997', '1996', '1996', '1996', '1996', '1996', '1996', '1996', '1996', '1996', '1975', '1954', '1993', '1994', '1950', '1963', '1991', '1964', '1941', '1971', '1951', '1981', '1965', '1988', '1992', '1996', '1996', '1996', '1996', '1996', '1996', '1996', '1996', '1997', '1996', '1996', '1996', '1996', '1971', '1973', '1971', '1988', '1979', '1982', '1965', '1967', '1954', '1987', '1992', '1986', '1989', '1992', '1991', '1992', '1992', '1982', '1982', '1990', '1986', '1996', '1951', '1996', '1996', '1981', '1975', '1991', '1989', '1980', '1981', '1981', '1975', '1996', '1996', '1996', '1996', '1990', '1988', '1991', '1991', '1991', '1990', '1996', '1991', '1989', '1992', '1991', '1990', '1975', '1978', '1980', '1987', '1981', '1986', '1966', '1957', '1962', '1971', '1962', '1979', '1968', '1983', '1987', '1949', '1990', '1979', '1985', '1960', '1980', '1974', '1987', '1984', '1980', '1977', '1983', '1981', '1973', '1984', '1992', '1989', '1979', '1990', '1989', '1967', '1958', '1990', '1957', '1974', '1948', '1985', '1980', '1986', '1987', '1963', '1978', '1993', '1992', '1962', '1990', '1985', '1991', '1970', '1988', '1986', '1967', '1974', '1991', '1940', '1940', '1952', '1988', '1959', '1984', '1982', '1987', '1989', '1979', '1982', '1988', '1985', '1985', '1982', '1984', '1956', '1989', '1969', '1984', '1989', '1992', '1981', '1983', '1982', '1979', '1987', '1963', '1992', '1992', '1991', '1976', '1984', '1976', '1996', '1997', '1996', '1996', '1996', '1996', '1996', '1996', '1990', '1979', '1991', '1989', '1982', '1984', '1986', '1992', '1988', '1978', '1982', '1990', '1992', '1975', '1978', '1983', '1996', '1996', '1996', '1987', '1992', '1996', '1996', '1992', '1996', '1996', '1996', '1997', '1997', '1997', '1996', '1997', '1993', '1997', '1993', '1997', '1997', '1996', '1996', '1997', '1997', '1997', '1997', '1997', '1997', '1997', '1997', '1996', '1997', '1997', '1997', '1997', '1997', '1997', '1997', '1997', '1997', '1997', '1997', '1997', '1997', '1997', '1997', '1997', '1997', '1997', '1997', '1997', '1997', '1997', '1997', '1997', '1997', '1997', '1996', '1997', '1997', '1997', '1963', '1997', '1997', '1997', '1997', '1997', '1982', '1997', '1997', '1997', '1997', '1997', '1997', '1997', '1997', '1997', '1997', '1990', '1997', '1997', '1997', '1997', '1997', '1997', '1997', '1997', '1997', '1997', '1997', '1997', '1997', '1997', '1997', '1997', '1997', '1997', '1997', '1997', '1997', '1998', '1997', '1997', '1981', '1997', '1997', '1997', '1997', '1997', '1985', '1997', '1993', '1998', '1997', '1998', '1997', '1997', '1997', '1997', '1997', '1997', '1997', '1997', '1997', '1997', '1997', '1997', '1997', '1997', '1997', '1997', '1997', '1997', '1998', '1997', '1997', '1998', '1997', '1998', '1998', '1997', '1998', '1997', '1998', '1998', '1998', '1997', '1997', '1997', '1998', '1998', '1997', '1998', '1998', '1998', '1997', '1990', '1998', '1998', '1998', '1998', '1997', '1998', '1997', '1998', '1998', '1998', '1997', '1998', '1997', '1998', '1998', '1998', '1997', '1998', '1998', '1997', '1998', '1998', '1997', '1998', '1998', '1998', '1998', '1998', '1998', '1998', '1998', '1998', '1998', '1998', '1998', '1998', '1998', '1997', '1996', '1997', '1998', '1998', '1998', '1998', '1998', '1998', '1998', '1998', '1998', '1998', '1929', '1932', '1933', '1935', '1938', '1941', '1942', '1944', '1945', '1946', '1947', '1952', '1953', '1954', '1955', '1961', '1963', '1966', '1967', '1968', '1969', '1971', '1976', '1979', '1981', '1985', '1987', '1988', '1989', '1984', '1986', '1985', '1985', '1987', '1988', '1989', '1991', '1980', '1981', '1982', '1984', '1985', '1986', '1988', '1989', '1978', '1981', '1982', '1988', '1989', '1980', '1987', '1988', '1990', '1991', '1982', '1986', '1988', '1973', '1977', '1990', '1987', '1989', '1992', '1984', '1990', '1985', '1998', '1973', '1927', '1989', '1990', '1972', '1942', '1954', '1988', '1984', '1988', '1990', '1991', '1997', '1998', '1998', '1998', '1998', '1985', '1979', '1989', '1994', '1993', '1986', '1986', '1993', '1992', '1989', '1998', '1998', '1989', '1985', '1965', '1982', '1985', '1989', '1986', '1985', '1967', '1955', '1989', '1992', '1992', '1961', '1953', '1990', '1977', '1978', '1985', '1991', '1959', '1983', '1984', '1994', '1982', '1993', '1998', '1979', '1982', '1990', '1983', '1984', '1978', '1983', '1986', '1983', '1984', '1989', '1991', '1998', '1998', '1998', '1980', '1966', '1987', '1985', '1967', '1978', '1982', '1982', '1986', '1991', '1985', '1984', '1986', '1985', '1987', '1980', '1998', '1998', '1998', '1968', '1984', '1990', '1998', '1998', '1998', '1988', '1948', '1976', '1972', '1969', '1966', '1964', '1956', '1956', '1955', '1951', '1998', '1998', '1998', '1988', '1987', '1941', '1998', '1997', '1997', '1998', '1998', '1980', '1987', '1988', '1988', '1989', '1992', '1982', '1982', '1984', '1986', '1988', '1991', '1992', '1993', '1998', '1998', '1998', '1998', '1998', '1990', '1994', '1968', '1982', '1992', '1980', '1990', '1998', '1998', '1998', '1998', '1998', '1981', '1992', '1984', '1986', '1980', '1998', '1998', '1998', '1998', '1997', '1990', '1998', '1998', '1998', '1998', '1998', '1998', '1998', '1998', '1998', '1985', '1986', '1986', '1990', '1957', '1998', '1998', '1998', '1998', '1972', '1984', '1933', '1976', '1986', '1985', '1985', '1985', '1989', '1985', '1986', '1986', '1985', '1984', '1985', '1986', '1987', '1988', '1989', '1998', '1998', '1998', '1998', '1998', '1998', '1998', '1998', '1998', '1985', '1985', '1985', '1982', '1988', '1985', '1984', '1985', '1988', '1979', '1982', '1985', '1990', '1985', '1986', '1986', '1984', '1986', '1989', '1989', '1998', '1998', '1998', '1998', '1998', '1998', '1999', '1997', '1998', '1999', '1986', '1986', '1958', '1986', '1989', '1986', '1974', '1986', '1990', '1994', '1986', '1986', '1986', '1986', '1986', '1986', '1986', '1988', '1986', '1986', '1986', '1986', '1995', '1999', '1998', '1960', '1999', '1999', '1999', '1999', '1999', '1999', '1999', '1999', '1999', '1997', '1989', '1992', '1993', '1983', '1982', '1970', '1974', '1977', '1974', '1976', '1968', '1970', '1973', '1972', '1971', '1974', '1979', '1999', '1999', '1999', '1998', '1999', '1999', '1988', '1993', '1999', '1999', '1999', '1956', '1999', '1999', '1999', '1999', '1998', '1999', '1999', '1992', '1999', '1999', '1999', '1999', '1998', '1997', '1998', '1999', '1999', '1999', '1999', '1997', '1945', '1984', '1985', '1990', '1999', '1997', '1999', '1998', '1999', '1978', '1980', '1983', '1987', '1931', '1931', '1975', '1982', '1953', '1999', '1999', '1998', '1999', '1999', '1998', '1999', '1999', '1999', '1998', '1999', '1998', '1997', '1990', '1999', '1999', '1999', '1999', '1999', '1999', '1999', '1984', '1989', '1999', '1999', '1999', '1999', '1999', '1999', '1960', '1962', '1975', '1988', '1986', '1986', '1986', '1985', '1986', '1986', '1986', '1986', '1986', '1987', '1986', '1982', '1999', '1999', '1999', '1999', '1999', '1999', '1998', '1995', '1963', '1961', '1986', '1978', '1981', '1980', '1982', '1997', '1985', '1983', '1988', '1993', '1983', '1999', '1999', '1999', '1999', '1975', '1999', '1999', '1997', '1999', '1999', '1999', '1999', '1999', '1984', '1983', '1999', '1984', '1999', '1979', '1964', '1999', '1978', '1985', '1988', '1972', '1981', '1993', '1994', '1975', '1999', '1999', '1999', '1999', '1999', '1999', '1993', '1988', '1979', '1983', '1986', '1999', '1999', '1999', '1983', '1990', '1981', '1986', '1982', '1973', '1968', '1981', '1953', '1958', '1983', '1967', '1964', '1963', '1962', '1980', '1964', '1996', '1992', '1987', '1926', '1999', '1999', '1999', '1999', '1981', '1979', '1989', '1999', '1999', '1999', '1998', '1990', '1987', '1990', '1988', '1981', '1989', '1973', '1965', '1999', '1999', '1999', '1999', '1999', '1997', '1999', '1999', '1999', '1999', '1982', '1987', '1985', '1989', '1993', '1927', '1981', '1990', '1987', '1973', '1981', '1970', '1983', '1991', '1982', '1981', '1999', '1999', '1999', '1998', '1962', '1970', '1988', '1982', '1988', '1987', '1999', '1999', '1999', '1988', '1948', '1987', '1984', '1992', '1987', '1990', '1988', '1990', '1991', '1991', '1984', '1986', '1999', '1999', '1999', '1999', '1999', '1992', '1999', '1990', '1988', '1990', '1999', '1999', '1999', '1971', '1999', '1999', '1999', '1999', '1999', '1999', '1971', '1999', '1999', '1999', '1999', '2000', '1999', '1999', '1999', '1999', '2000', '1998', '1973', '1988', '1973', '1989', '1982', '1988', '1993', '1985', '1991', '1990', '1980', '2000', '1992', '1977', '1992', '1992', '1993', '1992', '1993', '1992', '1992', '1993', '1992', '1992', '1992', '1992', '1992', '1992', '1992', '1992', '1992', '1992', '1992', '1992', '1992', '1992', '1992', '1992', '2000', '1992', '1999', '2000', '2000', '2000', '2000', '2000', '2000', '2000', '2000', '1978', '1931', '1921', '2000', '2000', '2000', '2000', '1999', '1983', '1989', '1984', '1963', '2000', '1999', '1979', '1986', '1988', '1975', '1973', '1991', '1987', '1987', '1987', '1987', '1979', '1993', '1953', '2000', '2000', '1988', '1991', '1979', '1978', '1989', '1990', '1991', '1968', '1974', '1982', '1985', '1994', '1944', '1991', '1990', '1991', '1993', '1984', '1986', '1988', '1978', '1987', '1967', '2000', '2000', '2000', '1936', '1993', '1963', '1961', '1977', '1990', '1987', '1985', '1986', '2000', '2000', '2000', '1966', '1991', '1969', '1992', '1978', '1990', '1992', '1985', '1993', '1976', '1987', '1979', '1968', '1976', '1999', '2000', '2000', '2000', '2000', '2000', '1978', '1981', '1984', '1989', '1987', '1991', '2000', '2000', '1999', '1999', '1983', '1976', '1980', '2000', '2000', '2000', '1999', '1992', '2000', '2000', '2000', '1998', '1993', '1988', '2000', '1999', '1983', '1974', '1983', '2000', '2000', '2000', '1985', '1964', '2000', '2000', '1980', '1997', '2000', '2000', '1925', '1969', '1977', '1979', '1974', '2000', '1980', '1961', '1968', '1992', '1974', '1977', '1965', '1973', '1985', '1990', '1981', '1983', '1985', '1990', '1987', '1984', '1988', '1979', '1981', '1985', '1987', '1986', '1984', '1992', '1988', '1991', '2000', '2000', '1990', '1981', '1992', '1971', '1974', '1978', '1973', '1951', '1974', '1986', '1925', '2000', '2000', '2000', '1999', '2000', '2000', '2000', '2000', '2000', '1989', '1986', '1990', '1984', '1985', '1988', '1974', '1984', '1973', '1990', '1973', '1972', '2000', '2000', '1999', '1984', '1946', '2000', '2000', '2000', '1999', '1977', '1991', '1972', '1975', '2000', '2000', '2000', '2000', '2000', '1993', '1970', '1988', '1988', '1990', '1989', '1994', '1999', '2000', '2000', '1999', '1988', '1991', '1953', '1965', '1984', '2000', '2000', '2000', '2000', '2000', '2000', '1999', '2000', '2000', '2000', '2000', '2000', '1987', '1988', '1992', '1993', '1961', '1966', '1954', '2000', '2000', '2000', '2000', '1984', '2000', '2000', '2000', '2000', '2000', '2000', '2000', '2000', '1971', '2000', '2000', '2000', '2000', '2000', '2000', '2000', '2000', '2000', '2000', '1984', '1985', '1987', '1987', '1986', '1987', '1989', '1988', '1985', '2000', '1988', '2000', '2000', '2000', '2000', '2000', '2000', '2000', '2000', '2000', '2000', '2000', '2000', '2000', '2000', '2000', '2000', '1987', '1982', '1991', '1982', '1960', '1986', '1993', '2001', '2001', '2000', '2001', '1991', '1992', '1993', '2001', '2001', '2000', '1987', '1987', '1987', '1984', '1987', '1987', '1987', '1987', '1987', '1987', '1987', '1987', '1981', '1987', '1987', '1987', '1987', '1987', '1987', '1987', '1987', '1987', '1987', '1987', '1987', '1987', '1987', '1987', '1987', '1987', '2001', '2000', '2001', '2001', '2001', '2001', '2001', '2001', '2001', '2000', '2001', '2001', '1980', '1986', '1988', '1965', '1960', '1980', '1990', '1991', '1978', '1991', '1983', '1990', '1989', '1986', '1990', '1978', '1989', '1987', '1974', '1984', '2001', '2001', '2000', '2001', '2001', '2001', '2000', '2001', '2001', '2000', '2001', '2001', '2001', '2000', '2001', '2001', '1983', '2001', '2001', '2001', '1963', '1983', '1982', '1991', '1993', '1991', '1979', '1985', '1970', '1955', '2001', '2001', '2001', '2001', '2001', '2001', '1992', '1990', '1991', '1988', '1960', '1959', '1987', '1987', '1966', '1949', '2001', '2000', '2001', '2001', '1970', '1991', '1983', '1992', '1958', '1982', '2001', '2001', '2001', '2001', '2001', '2001', '2001', '1999', '2001', '2001', '2001', '2000', '1981', '1984', '1989', '1963', '1960', '1962', '1991', '1986', '1982', '1955', '1961', '1956', '1985', '1981', '1972', '2001', '2001', '2001', '2000', '2001', '2001', '2000', '2001', '1988', '1988', '1988', '1988', '1988', '1988', '1988', '1988', '1988', '1988', '1988', '1988', '1988', '2013', '1988', '1988', '1988', '1988', '1988', '1986', '1988', '1988', '1988', '1988', '1988', '1988', '1988', '1988', '1988', '1988', '1988', '1988', '1988', '1988', '1988', '1988', '1988', '1988', '1987', '1988', '1988', '1988', '1985', '1982', '1988', '1988', '1988', '1988', '1988', '1988', '1988', '1988', '1986', '1988', '1988', '1988', '1988', '1988', '1988', '1988', '1989', '1985', '1993', '1989', '1989', '1989', '1989', '1989', '1989', '1989', '1989', '1989', '1989', '1988', '1983', '1989', '1989', '1989', '1989', '1989', '1989', '1989', '1989', '1989', '1989', '1989', '1989', '1989', '1989', '1989', '1989', '1989', '1989', '1988', '2001', '2000', '2001', '1997', '2001', '2001', '2001', '1989', '1989', '1989', '1989', '1989', '1989', '1989', '1989', '1988', '1989', '1989', '1989', '1989', '1989', '1989', '1988', '1989', '1984', '1998', '1998', '2001', '2001', '2001', '1978', '1980', '1969', '1976', '1980', '1980', '2001', '2001', '2001', '2001', '2001', '2001', '2001', '2001', '2001', '2001', '2001', '2000', '2001', '2001', '2001', '2002', '1986', '2001', '2001', '2001', '2001', '2001', '2001', '2002', '2001', '2001', '2001', '2000', '1981', '1960', '1963', '1959', '1971', '1961', '1986', '2001', '2001', '2001', '2001', '2001', '2001', '2001', '1980', '1980', '1980', '1980', '1980', '2001', '2001', '1993', '2001', '2001', '1971', '1971', '2001', '2001', '2001', '2001', '2001', '2001', '2001', '2001', '2001', '2001', '2001', '2000', '2001', '2001', '2001', '2001', '2001', '2001', '1968', '1982', '1985', '1977', '1980', '1980', '1980', '1980', '1976', '1981', '1977', '1983', '1983', '2001', '2001', '1984', '2001', '2001', '2001', '2001', '1984', '1982', '1983', '1987', '2001', '2001', '2001', '2001', '2001', '1991', '1957', '2001', '2001', '2001', '1983', '2001', '2001', '2001', '1996', '2001', '1990', '1987', '1981', '1984', '1983', '1980', '1980', '1980', '1982', '1983', '1993', '1970', '1984', '1961', '2002', '2002', '2002', '2001', '2001', '1989', '1984', '2002', '1981', '2002', '2002', '1994', '1983', '1993', '1993', '2002', '2002', '2002', '2002', '2001', '1993', '1980', '2002', '2002', '2002', '1976', '1977', '2002', '1992', '1994', '1994', '1945', '2002', '2002', '2002', '1990', '1990', '1980', '1980', '1980', '1980', '1980', '1980', '1977', '2002', '2002', '2002', '2001', '2001', '1983', '1998', '1992', '1981', '1980', '1980', '1977', '1983', '1980', '1980', '2002', '2002', '2002', '2002', '2001', '2002', '2001', '1985', '2002', '2002', '1950', '1977', '2002', '2001', '2002', '2001', '2001', '2002', '1975', '1990', '1980', '2002', '2002', '2001', '2002', '2001', '2002', '2002', '2000', '1985', '1990', '1991', '1970', '1984', '2002', '1991', '1991', '2002', '1991', '1985', '2002', '2002', '2001', '1978', '1978', '2002', '2002', '2002', '1952', '2002', '2002', '1992', '2002', '2002', '2002', '2002', '2002', '1967', '1986', '1949', '1992', '2002', '2002', '2002', '2001', '2002', '2002', '2002', '2002', '2002', '1985', '1972', '1969', '2002', '2001', '2002', '2002', '2002', '2002', '2000', '2002', '1984', '2002', '2002', '2002', '2002', '2002', '2002', '1975', '2002', '2002', '2000', '2002', '2002', '2002', '2002', '2002', '1981', '1991', '1988', '1994', '1986', '1956', '1981', '2002', '2001', '2002', '2002', '1996', '2002', '2002', '2002', '1993', '1990', '1992', '1977', '1994', '1990', '1993', '1979', '2002', '2002', '2002', '2001', '2002', '2001', '2002', '2002', '2002', '2002', '2002', '1991', '1988', '1989', '1992', '1966', '2001', '1990', '2002', '2002', '2001', '2002', '2002', '2002', '2001', '2002', '2002', '2002', '2001', '2002', '2002', '2002', '2002', '2002', '1993', '1977', '1983', '1980', '1980', '1980', '1981', '1981', '1981', '1981', '1981', '1981', '1981', '1981', '1982', '1981', '1981', '1981', '1981', '1981', '1981', '1981', '1981', '1982', '1981', '2002', '2002', '2002', '2001', '2002', '2002', '1967', '1960', '2002', '2002', '2000', '2002', '2002', '2002', '2002', '2002', '1991', '1991', '1991', '1981', '1981',

In [10]:
#pd.concat([me_too,l],axis=1)

In [11]:
me_too.shape

(7407, 3)

In [14]:
l=pd.DataFrame(l)

In [20]:
me_too.index.values[:10]

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [21]:
l.index.values[:10]

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [19]:
for i in range(1,len(l.index.values)):
       me_too.index.values[i]=l.index.values[i]

In [18]:
len(l.index.values)

7406

In [17]:
len(me_too.index.values)

7407

In [22]:
print(l)

         0
0     1995
1     1995
2     1995
3     1995
4     1995
5     1995
6     1995
7     1995
8     1995
9     1995
10    1995
11    1995
12    1995
13    1995
14    1995
15    1995
16    1995
17    1995
18    1995
19    1995
20    1995
21    1995
22    1995
23    1995
24    1995
25    1995
26    1995
27    1995
28    1995
29    1995
...    ...
7376  1985
7377  2017
7378  2016
7379  2017
7380  2000
7381  2001
7382  2017
7383  2012
7384  2012
7385  2011
7386  2011
7387  2016
7388  2017
7389  2000
7390  2017
7391  2005
7392  2017
7393  2014
7394  2012
7395  2017
7396  2017
7397  2017
7398  1995
7399  2007
7400  2014
7401  2014
7402  2014
7403  2009
7404  2006
7405  2010

[7406 rows x 1 columns]

In [23]:
print(me_too)

      release_date      revenue  \
0       1995-10-30  373554033.0
1       1995-12-15  262797249.0
2       1995-12-22   81452156.0
3       1995-02-10   76578911.0
4       1995-12-15  187436818.0
5       1995-12-22   64350171.0
6       1995-11-16  352194034.0
7       1995-11-17  107879496.0
8       1995-12-22   11348324.0
9       1995-12-22   13681765.0
10      1995-12-22   10017322.0
11      1995-11-22  116112375.0
12      1995-12-13  135000000.0
13      1995-12-09    4300000.0
14      1995-11-10  212385533.0
15      1995-11-21   35431113.0
16      1995-10-20  115101622.0
17      1995-10-06   30303072.0
18      1995-10-27   49800000.0
19      1995-10-20   27400000.0
20      1995-05-16    1738611.0
21      1995-08-11  180000000.0
22      1995-12-29  168840000.0
23      1995-07-18  254134910.0
24      1995-12-29   39363635.0
25      1995-12-15     676525.0
26      1995-08-18  122195920.0
27      1995-05-20   21284514.0
28      1995-10-06   23574130.0
29      1995-09-22  327311859.0
...            ...          ...
7377    2017-01-18   56100000.0
7378    2016-04-23    1015339.0
7379    2017-04-14     393970.0
7380    2000-07-08   68411275.0
7381    2001-07-06   28023563.0
7382    2017-06-21  604942143.0
7383    2012-07-11     103504.0
7384    2012-12-27   11666088.0
7385    2011-07-21    8000000.0
7386    2011-02-03    1957000.0
7387    2016-08-17     126463.0
7388    2017-08-11   10893246.0
7389    2000-08-31    1805884.0
7390    2017-06-29        422.0
7391    2005-12-30    2411594.0
7392    2017-08-03   71000000.0
7393    2014-04-25   76000000.0
7394    2012-12-09      14353.0
7395    2017-07-28   66913939.0
7396    2017-08-03  184770205.0
7397    2017-02-01    7800000.0
7398    1995-01-15   15000000.0
7399    2007-06-14   19000000.0
7400    2014-08-15    1359497.0
7401    2014-03-13     320395.0
7402    2014-06-05          3.0
7403    2009-10-09      50656.0
7404    2006-11-23    1328612.0
7405    2010-09-30    1268793.0
45422   2007-09-06    1413000.0

                                    production_companies
0         [{'name': 'Pixar Animation Studios', 'id': 3}]
1      [{'name': 'TriStar Pictures', 'id': 559}, {'na...
2      [{'name': 'Twentieth Century Fox Film Corporat...
3      [{'name': 'Sandollar Productions', 'id': 5842}...
4      [{'name': 'Regency Enterprises', 'id': 508}, {...
5      [{'name': 'Universal Pictures', 'id': 33}, {'n...
6      [{'name': 'United Artists', 'id': 60}, {'name'...
7      [{'name': 'Columbia Pictures', 'id': 5}, {'nam...
8      [{'name': 'Universal Pictures', 'id': 33}, {'n...
9      [{'name': 'Hollywood Pictures', 'id': 915}, {'...
10     [{'name': 'Le Studio Canal+', 'id': 183}, {'na...
11     [{'name': 'Universal Pictures', 'id': 33}, {'n...
12     [{'name': 'Columbia Pictures Corporation', 'id...
13     [{'name': 'Miramax Films', 'id': 14}, {'name':...
14     [{'name': 'O Entertainment', 'id': 5682}, {'na...
15              [{'name': 'Columbia Pictures', 'id': 5}]
16     [{'name': 'Jersey Films', 'id': 216}, {'name':...
17     [{'name': 'Silver Pictures', 'id': 1885}, {'na...
18     [{'name': 'United Artists', 'id': 60}, {'name'...
19               [{'name': 'New Line Cinema', 'id': 12}]
20     [{'name': 'Procirep', 'id': 311}, {'name': 'Co...
21     [{'name': 'Hollywood Pictures', 'id': 915}, {'...
22     [{'name': 'Universal Pictures', 'id': 33}, {'n...
23     [{'name': 'Universal Pictures', 'id': 33}, {'n...
24     [{'name': 'Havoc', 'id': 406}, {'name': 'PolyG...
25     [{'name': 'Miramax', 'id': 53009}, {'name': 'D...
26     [{'name': 'New Line Cinema', 'id': 12}, {'name...
27     [{'name': 'The Rank Organisation', 'id': 364},...
28     [{'name': 'Universal Pictures', 'id': 33}, {'n...
29     [{'name': 'New Line Cinema', 'id': 12}, {'name...
...                                                  ...
7377          [{'name': 'CJ Entertainment', 'id': 7036}]
7378   [{'name': 'Toei Company', 'id': 9255}, {'name'...
7379   [{'name': 'Meteor 17', 'id': 58572}, {'name': ...
7380   [{'name': 'TV Tokyo', 'id': 3034}, {'name': '4...
7381                                                  []
7382   [{'name': 'Paramount Pictures', 'id': 4}, {'na...
7383   [{'name': 'Canal+', 'id': 5358}, {'name': 'Cin...
7384              [{'name': 'Enjoy Movies', 'id': 9340}]
7385                                                  []
7386                   [{'name': 'Profit', 'id': 21163}]
7387   [{'name': 'Canal+', 'id': 5358}, {'name': 'Cin...
7388   [{'name': 'Rhea Films', 'id': 37504}, {'name':...
7389   [{'name': 'Rai Cinemafiction', 'id': 238}, {'n...
7390   [{'name': 'Pandemonium', 'id': 8915}, {'name':...
7391              [{'name': 'Talent House', 'id': 4463}]
7392   [{'name': 'Imagine Entertainment', 'id': 23}, ...
7393          [{'name': 'Enlight Pictures', 'id': 4053}]
7394    [{'name': 'Yellow, Black & White', 'id': 42877}]
7395   [{'name': 'Columbia Pictures', 'id': 5}, {'nam...
7396   [{'name': 'Thunder Road Pictures', 'id': 3528}...
7397   [{'name': 'StudioCanal', 'id': 694}, {'name': ...
7398            [{'name': 'Sathya Movies', 'id': 16434}]
7399          [{'name': 'AVM Productions', 'id': 16424}]
7400   [{'name': 'Motlys', 'id': 2783}, {'name': 'Cop...
7401                  [{'name': 'Lyuksor', 'id': 21946}]
7402   [{'name': 'Кинокомпания «Lunapark»', 'id': 420...
7403   [{'name': 'Central Partnership', 'id': 9342}, ...
7404                                                  []
7405                   [{'name': 'Profit', 'id': 21163}]
45422                                                 []

[7407 rows x 3 columns]

In [32]:
me_too=me_too.iloc[:7406,]

In [33]:
print(me_too)

     release_date      revenue  \
0      1995-10-30  373554033.0
1      1995-12-15  262797249.0
2      1995-12-22   81452156.0
3      1995-02-10   76578911.0
4      1995-12-15  187436818.0
5      1995-12-22   64350171.0
6      1995-11-16  352194034.0
7      1995-11-17  107879496.0
8      1995-12-22   11348324.0
9      1995-12-22   13681765.0
10     1995-12-22   10017322.0
11     1995-11-22  116112375.0
12     1995-12-13  135000000.0
13     1995-12-09    4300000.0
14     1995-11-10  212385533.0
15     1995-11-21   35431113.0
16     1995-10-20  115101622.0
17     1995-10-06   30303072.0
18     1995-10-27   49800000.0
19     1995-10-20   27400000.0
20     1995-05-16    1738611.0
21     1995-08-11  180000000.0
22     1995-12-29  168840000.0
23     1995-07-18  254134910.0
24     1995-12-29   39363635.0
25     1995-12-15     676525.0
26     1995-08-18  122195920.0
27     1995-05-20   21284514.0
28     1995-10-06   23574130.0
29     1995-09-22  327311859.0
...           ...          ...
7376   1985-05-03    5730596.0
7377   2017-01-18   56100000.0
7378   2016-04-23    1015339.0
7379   2017-04-14     393970.0
7380   2000-07-08   68411275.0
7381   2001-07-06   28023563.0
7382   2017-06-21  604942143.0
7383   2012-07-11     103504.0
7384   2012-12-27   11666088.0
7385   2011-07-21    8000000.0
7386   2011-02-03    1957000.0
7387   2016-08-17     126463.0
7388   2017-08-11   10893246.0
7389   2000-08-31    1805884.0
7390   2017-06-29        422.0
7391   2005-12-30    2411594.0
7392   2017-08-03   71000000.0
7393   2014-04-25   76000000.0
7394   2012-12-09      14353.0
7395   2017-07-28   66913939.0
7396   2017-08-03  184770205.0
7397   2017-02-01    7800000.0
7398   1995-01-15   15000000.0
7399   2007-06-14   19000000.0
7400   2014-08-15    1359497.0
7401   2014-03-13     320395.0
7402   2014-06-05          3.0
7403   2009-10-09      50656.0
7404   2006-11-23    1328612.0
7405   2010-09-30    1268793.0

                                   production_companies
0        [{'name': 'Pixar Animation Studios', 'id': 3}]
1     [{'name': 'TriStar Pictures', 'id': 559}, {'na...
2     [{'name': 'Twentieth Century Fox Film Corporat...
3     [{'name': 'Sandollar Productions', 'id': 5842}...
4     [{'name': 'Regency Enterprises', 'id': 508}, {...
5     [{'name': 'Universal Pictures', 'id': 33}, {'n...
6     [{'name': 'United Artists', 'id': 60}, {'name'...
7     [{'name': 'Columbia Pictures', 'id': 5}, {'nam...
8     [{'name': 'Universal Pictures', 'id': 33}, {'n...
9     [{'name': 'Hollywood Pictures', 'id': 915}, {'...
10    [{'name': 'Le Studio Canal+', 'id': 183}, {'na...
11    [{'name': 'Universal Pictures', 'id': 33}, {'n...
12    [{'name': 'Columbia Pictures Corporation', 'id...
13    [{'name': 'Miramax Films', 'id': 14}, {'name':...
14    [{'name': 'O Entertainment', 'id': 5682}, {'na...
15             [{'name': 'Columbia Pictures', 'id': 5}]
16    [{'name': 'Jersey Films', 'id': 216}, {'name':...
17    [{'name': 'Silver Pictures', 'id': 1885}, {'na...
18    [{'name': 'United Artists', 'id': 60}, {'name'...
19              [{'name': 'New Line Cinema', 'id': 12}]
20    [{'name': 'Procirep', 'id': 311}, {'name': 'Co...
21    [{'name': 'Hollywood Pictures', 'id': 915}, {'...
22    [{'name': 'Universal Pictures', 'id': 33}, {'n...
23    [{'name': 'Universal Pictures', 'id': 33}, {'n...
24    [{'name': 'Havoc', 'id': 406}, {'name': 'PolyG...
25    [{'name': 'Miramax', 'id': 53009}, {'name': 'D...
26    [{'name': 'New Line Cinema', 'id': 12}, {'name...
27    [{'name': 'The Rank Organisation', 'id': 364},...
28    [{'name': 'Universal Pictures', 'id': 33}, {'n...
29    [{'name': 'New Line Cinema', 'id': 12}, {'name...
...                                                 ...
7376  [{'name': 'Metro-Goldwyn-Mayer (MGM)', 'id': 8...
7377         [{'name': 'CJ Entertainment', 'id': 7036}]
7378  [{'name': 'Toei Company', 'id': 9255}, {'name'...
7379  [{'name': 'Meteor 17', 'id': 58572}, {'name': ...
7380  [{'name': 'TV Tokyo', 'id': 3034}, {'name': '4...
7381                                                 []
7382  [{'name': 'Paramount Pictures', 'id': 4}, {'na...
7383  [{'name': 'Canal+', 'id': 5358}, {'name': 'Cin...
7384             [{'name': 'Enjoy Movies', 'id': 9340}]
7385                                                 []
7386                  [{'name': 'Profit', 'id': 21163}]
7387  [{'name': 'Canal+', 'id': 5358}, {'name': 'Cin...
7388  [{'name': 'Rhea Films', 'id': 37504}, {'name':...
7389  [{'name': 'Rai Cinemafiction', 'id': 238}, {'n...
7390  [{'name': 'Pandemonium', 'id': 8915}, {'name':...
7391             [{'name': 'Talent House', 'id': 4463}]
7392  [{'name': 'Imagine Entertainment', 'id': 23}, ...
7393         [{'name': 'Enlight Pictures', 'id': 4053}]
7394   [{'name': 'Yellow, Black & White', 'id': 42877}]
7395  [{'name': 'Columbia Pictures', 'id': 5}, {'nam...
7396  [{'name': 'Thunder Road Pictures', 'id': 3528}...
7397  [{'name': 'StudioCanal', 'id': 694}, {'name': ...
7398           [{'name': 'Sathya Movies', 'id': 16434}]
7399         [{'name': 'AVM Productions', 'id': 16424}]
7400  [{'name': 'Motlys', 'id': 2783}, {'name': 'Cop...
7401                 [{'name': 'Lyuksor', 'id': 21946}]
7402  [{'name': 'Кинокомпания «Lunapark»', 'id': 420...
7403  [{'name': 'Central Partnership', 'id': 9342}, ...
7404                                                 []
7405                  [{'name': 'Profit', 'id': 21163}]

[7406 rows x 3 columns]

In [34]:
pd.concat([me_too,l])

/Users/joyharjanto/anaconda3/lib/python3.7/site-packages/pandas/core/indexes/api.py:107: RuntimeWarning: '<' not supported between instances of 'str' and 'int', sort order is undefined for incomparable objects
  result = result.union(other)

,release_date,revenue,production_companies,0
0,1995-10-30,373554033.0,"[{'name': 'Pixar Animation Studios', 'id': 3}]",NaN
1,1995-12-15,262797249.0,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...",NaN
2,1995-12-22,81452156.0,[{'name': 'Twentieth Century Fox Film Corporat...,NaN
3,1995-02-10,76578911.0,"[{'name': 'Sandollar Productions', 'id': 5842}...",NaN
4,1995-12-15,187436818.0,"[{'name': 'Regency Enterprises', 'id': 508}, {...",NaN
5,1995-12-22,64350171.0,"[{'name': 'Universal Pictures', 'id': 33}, {'n...",NaN
6,1995-11-16,352194034.0,"[{'name': 'United Artists', 'id': 60}, {'name'...",NaN
7,1995-11-17,107879496.0,"[{'name': 'Columbia Pictures', 'id': 5}, {'nam...",NaN
8,1995-12-22,11348324.0,"[{'name': 'Universal Pictures', 'id': 33}, {'n...",NaN
9,1995-12-22,13681765.0,"[{'name': 'Hollywood Pictures', 'id': 915}, {'...",NaN
10,1995-12-22,10017322.0,"[{'name': 'Le Studio Canal+', 'id': 183}, {'na...",NaN
11,1995-11-22,116112375.0,"[{'name': 'Universal Pictures', 'id': 33}, {'n...",NaN
12,1995-12-13,135000000.0,"[{'name': 'Columbia Pictures Corporation', 'id...",NaN
13,1995-12-09,4300000.0,"[{'name': 'Miramax Films', 'id': 14}, {'name':...",NaN
14,1995-11-10,212385533.0,"[{'name': 'O Entertainment', 'id': 5682}, {'na...",NaN
15,1995-11-21,35431113.0,"[{'name': 'Columbia Pictures', 'id': 5}]",NaN
16,1995-10-20,115101622.0,"[{'name': 'Jersey Films', 'id': 216}, {'name':...",NaN
17,1995-10-06,30303072.0,"[{'name': 'Silver Pictures', 'id': 1885}, {'na...",NaN
18,1995-10-27,49800000.0,"[{'name': 'United Artists', 'id': 60}, {'name'...",NaN
19,1995-10-20,27400000.0,"[{'name': 'New Line Cinema', 'id': 12}]",NaN
20,1995-05-16,1738611.0,"[{'name': 'Procirep', 'id': 311}, {'name': 'Co...",NaN
21,1995-08-11,180000000.0,"[{'name': 'Hollywood Pictures', 'id': 915}, {'...",NaN
22,1995-12-29,168840000.0,"[{'name': 'Universal Pictures', 'id': 33}, {'n...",NaN
23,1995-07-18,254134910.0,"[{'name': 'Universal Pictures', 'id': 33}, {'n...",NaN
24,1995-12-29,39363635.0,"[{'name': 'Havoc', 'id': 406}, {'name': 'PolyG...",NaN
25,1995-12-15,676525.0,"[{'name': 'Miramax', 'id': 53009}, {'name': 'D...",NaN
26,1995-08-18,122195920.0,"[{'name': 'New Line Cinema', 'id': 12}, {'name...",NaN
27,1995-05-20,21284514.0,"[{'name': 'The Rank Organisation', 'id': 364},...",NaN
28,1995-10-06,23574130.0,"[{'name': 'Universal Pictures', 'id': 33}, {'n...",NaN
29,1995-09-22,327311859.0,"[{'name': 'New Line Cinema', 'id': 12}, {'name...",NaN
...,...,...,...,...
7376,NaN,NaN,NaN,1985
7377,NaN,NaN,NaN,2017
7378,NaN,NaN,NaN,2016
7379,NaN,NaN,NaN,2017
7380,NaN,NaN,NaN,2000
7381,NaN,NaN,NaN,2001
7382,NaN,NaN,NaN,2017
7383,NaN,NaN,NaN,2012
7384,NaN,NaN,NaN,2012
7385,NaN,NaN,NaN,2011
7386,NaN,NaN,NaN,2011
7387,NaN,NaN,NaN,2016
7388,NaN,NaN,NaN,2017
7389,NaN,NaN,NaN,2000
7390,NaN,NaN,NaN,2017
7391,NaN,NaN,NaN,2005
7392,NaN,NaN,NaN,2017
7393,NaN,NaN,NaN,2014
7394,NaN,NaN,NaN,2012
7395,NaN,NaN,NaN,2017
7396,NaN,NaN,NaN,2017
7397,NaN,NaN,NaN,2017
7398,NaN,NaN,NaN,1995
7399,NaN,NaN,NaN,2007
7400,NaN,NaN,NaN,2014
7401,NaN,NaN,NaN,2014
7402,NaN,NaN,NaN,2014
7403,NaN,NaN,NaN,2009
7404,NaN,NaN,NaN,2006
7405,NaN,NaN,NaN,2010

In [36]:
type(l)

pandas.core.frame.DataFrame

In [38]:
l.append(me_too)

/Users/joyharjanto/anaconda3/lib/python3.7/site-packages/pandas/core/indexes/range.py:465: RuntimeWarning: '<' not supported between instances of 'int' and 'str', sort order is undefined for incomparable objects
  return self._int64index.union(other)

,0,release_date,revenue,production_companies
0,1995,NaN,NaN,NaN
1,1995,NaN,NaN,NaN
2,1995,NaN,NaN,NaN
3,1995,NaN,NaN,NaN
4,1995,NaN,NaN,NaN
5,1995,NaN,NaN,NaN
6,1995,NaN,NaN,NaN
7,1995,NaN,NaN,NaN
8,1995,NaN,NaN,NaN
9,1995,NaN,NaN,NaN
10,1995,NaN,NaN,NaN
11,1995,NaN,NaN,NaN
12,1995,NaN,NaN,NaN
13,1995,NaN,NaN,NaN
14,1995,NaN,NaN,NaN
15,1995,NaN,NaN,NaN
16,1995,NaN,NaN,NaN
17,1995,NaN,NaN,NaN
18,1995,NaN,NaN,NaN
19,1995,NaN,NaN,NaN
20,1995,NaN,NaN,NaN
21,1995,NaN,NaN,NaN
22,1995,NaN,NaN,NaN
23,1995,NaN,NaN,NaN
24,1995,NaN,NaN,NaN
25,1995,NaN,NaN,NaN
26,1995,NaN,NaN,NaN
27,1995,NaN,NaN,NaN
28,1995,NaN,NaN,NaN
29,1995,NaN,NaN,NaN
...,...,...,...,...
7376,NaN,1985-05-03,5730596.0,"[{'name': 'Metro-Goldwyn-Mayer (MGM)', 'id': 8..."
7377,NaN,2017-01-18,56100000.0,"[{'name': 'CJ Entertainment', 'id': 7036}]"
7378,NaN,2016-04-23,1015339.0,"[{'name': 'Toei Company', 'id': 9255}, {'name'..."
7379,NaN,2017-04-14,393970.0,"[{'name': 'Meteor 17', 'id': 58572}, {'name': ..."
7380,NaN,2000-07-08,68411275.0,"[{'name': 'TV Tokyo', 'id': 3034}, {'name': '4..."
7381,NaN,2001-07-06,28023563.0,[]
7382,NaN,2017-06-21,604942143.0,"[{'name': 'Paramount Pictures', 'id': 4}, {'na..."
7383,NaN,2012-07-11,103504.0,"[{'name': 'Canal+', 'id': 5358}, {'name': 'Cin..."
7384,NaN,2012-12-27,11666088.0,"[{'name': 'Enjoy Movies', 'id': 9340}]"
7385,NaN,2011-07-21,8000000.0,[]
7386,NaN,2011-02-03,1957000.0,"[{'name': 'Profit', 'id': 21163}]"
7387,NaN,2016-08-17,126463.0,"[{'name': 'Canal+', 'id': 5358}, {'name': 'Cin..."
7388,NaN,2017-08-11,10893246.0,"[{'name': 'Rhea Films', 'id': 37504}, {'name':..."
7389,NaN,2000-08-31,1805884.0,"[{'name': 'Rai Cinemafiction', 'id': 238}, {'n..."
7390,NaN,2017-06-29,422.0,"[{'name': 'Pandemonium', 'id': 8915}, {'name':..."
7391,NaN,2005-12-30,2411594.0,"[{'name': 'Talent House', 'id': 4463}]"
7392,NaN,2017-08-03,71000000.0,"[{'name': 'Imagine Entertainment', 'id': 23}, ..."
7393,NaN,2014-04-25,76000000.0,"[{'name': 'Enlight Pictures', 'id': 4053}]"
7394,NaN,2012-12-09,14353.0,"[{'name': 'Yellow, Black & White', 'id': 42877}]"
7395,NaN,2017-07-28,66913939.0,"[{'name': 'Columbia Pictures', 'id': 5}, {'nam..."
7396,NaN,2017-08-03,184770205.0,"[{'name': 'Thunder Road Pictures', 'id': 3528}..."
7397,NaN,2017-02-01,7800000.0,"[{'name': 'StudioCanal', 'id': 694}, {'name': ..."
7398,NaN,1995-01-15,15000000.0,"[{'name': 'Sathya Movies', 'id': 16434}]"
7399,NaN,2007-06-14,19000000.0,"[{'name': 'AVM Productions', 'id': 16424}]"
7400,NaN,2014-08-15,1359497.0,"[{'name': 'Motlys', 'id': 2783}, {'name': 'Cop..."
7401,NaN,2014-03-13,320395.0,"[{'name': 'Lyuksor', 'id': 21946}]"
7402,NaN,2014-06-05,3.0,"[{'name': 'Кинокомпания «Lunapark»', 'id': 420..."
7403,NaN,2009-10-09,50656.0,"[{'name': 'Central Partnership', 'id': 9342}, ..."
7404,NaN,2006-11-23,1328612.0,[]
7405,NaN,2010-09-30,1268793.0,"[{'name': 'Profit', 'id': 21163}]"

In [39]:
l[:10]

      0
0  1995
1  1995
2  1995
3  1995
4  1995
5  1995
6  1995
7  1995
8  1995
9  1995

In [40]:
me_too.iloc[:10,]

  release_date      revenue                               production_companies
0   1995-10-30  373554033.0     [{'name': 'Pixar Animation Studios', 'id': 3}]
1   1995-12-15  262797249.0  [{'name': 'TriStar Pictures', 'id': 559}, {'na...
2   1995-12-22   81452156.0  [{'name': 'Twentieth Century Fox Film Corporat...
3   1995-02-10   76578911.0  [{'name': 'Sandollar Productions', 'id': 5842}...
4   1995-12-15  187436818.0  [{'name': 'Regency Enterprises', 'id': 508}, {...
5   1995-12-22   64350171.0  [{'name': 'Universal Pictures', 'id': 33}, {'n...
6   1995-11-16  352194034.0  [{'name': 'United Artists', 'id': 60}, {'name'...
7   1995-11-17  107879496.0  [{'name': 'Columbia Pictures', 'id': 5}, {'nam...
8   1995-12-22   11348324.0  [{'name': 'Universal Pictures', 'id': 33}, {'n...
9   1995-12-22   13681765.0  [{'name': 'Hollywood Pictures', 'id': 915}, {'...

In [42]:
l

         0
0     1995
1     1995
2     1995
3     1995
4     1995
5     1995
6     1995
7     1995
8     1995
9     1995
10    1995
11    1995
12    1995
13    1995
14    1995
15    1995
16    1995
17    1995
18    1995
19    1995
20    1995
21    1995
22    1995
23    1995
24    1995
25    1995
26    1995
27    1995
28    1995
29    1995
...    ...
7376  1985
7377  2017
7378  2016
7379  2017
7380  2000
7381  2001
7382  2017
7383  2012
7384  2012
7385  2011
7386  2011
7387  2016
7388  2017
7389  2000
7390  2017
7391  2005
7392  2017
7393  2014
7394  2012
7395  2017
7396  2017
7397  2017
7398  1995
7399  2007
7400  2014
7401  2014
7402  2014
7403  2009
7404  2006
7405  2010

[7406 rows x 1 columns]

In [44]:
me_too=me_too.loc[:,['revenue','production_companies']]
print(me_too)

          revenue                               production_companies
0     373554033.0     [{'name': 'Pixar Animation Studios', 'id': 3}]
1     262797249.0  [{'name': 'TriStar Pictures', 'id': 559}, {'na...
2      81452156.0  [{'name': 'Twentieth Century Fox Film Corporat...
3      76578911.0  [{'name': 'Sandollar Productions', 'id': 5842}...
4     187436818.0  [{'name': 'Regency Enterprises', 'id': 508}, {...
5      64350171.0  [{'name': 'Universal Pictures', 'id': 33}, {'n...
6     352194034.0  [{'name': 'United Artists', 'id': 60}, {'name'...
7     107879496.0  [{'name': 'Columbia Pictures', 'id': 5}, {'nam...
8      11348324.0  [{'name': 'Universal Pictures', 'id': 33}, {'n...
9      13681765.0  [{'name': 'Hollywood Pictures', 'id': 915}, {'...
10     10017322.0  [{'name': 'Le Studio Canal+', 'id': 183}, {'na...
11    116112375.0  [{'name': 'Universal Pictures', 'id': 33}, {'n...
12    135000000.0  [{'name': 'Columbia Pictures Corporation', 'id...
13      4300000.0  [{'name': 'Miramax Films', 'id': 14}, {'name':...
14    212385533.0  [{'name': 'O Entertainment', 'id': 5682}, {'na...
15     35431113.0           [{'name': 'Columbia Pictures', 'id': 5}]
16    115101622.0  [{'name': 'Jersey Films', 'id': 216}, {'name':...
17     30303072.0  [{'name': 'Silver Pictures', 'id': 1885}, {'na...
18     49800000.0  [{'name': 'United Artists', 'id': 60}, {'name'...
19     27400000.0            [{'name': 'New Line Cinema', 'id': 12}]
20      1738611.0  [{'name': 'Procirep', 'id': 311}, {'name': 'Co...
21    180000000.0  [{'name': 'Hollywood Pictures', 'id': 915}, {'...
22    168840000.0  [{'name': 'Universal Pictures', 'id': 33}, {'n...
23    254134910.0  [{'name': 'Universal Pictures', 'id': 33}, {'n...
24     39363635.0  [{'name': 'Havoc', 'id': 406}, {'name': 'PolyG...
25       676525.0  [{'name': 'Miramax', 'id': 53009}, {'name': 'D...
26    122195920.0  [{'name': 'New Line Cinema', 'id': 12}, {'name...
27     21284514.0  [{'name': 'The Rank Organisation', 'id': 364},...
28     23574130.0  [{'name': 'Universal Pictures', 'id': 33}, {'n...
29    327311859.0  [{'name': 'New Line Cinema', 'id': 12}, {'name...
...           ...                                                ...
7376    5730596.0  [{'name': 'Metro-Goldwyn-Mayer (MGM)', 'id': 8...
7377   56100000.0         [{'name': 'CJ Entertainment', 'id': 7036}]
7378    1015339.0  [{'name': 'Toei Company', 'id': 9255}, {'name'...
7379     393970.0  [{'name': 'Meteor 17', 'id': 58572}, {'name': ...
7380   68411275.0  [{'name': 'TV Tokyo', 'id': 3034}, {'name': '4...
7381   28023563.0                                                 []
7382  604942143.0  [{'name': 'Paramount Pictures', 'id': 4}, {'na...
7383     103504.0  [{'name': 'Canal+', 'id': 5358}, {'name': 'Cin...
7384   11666088.0             [{'name': 'Enjoy Movies', 'id': 9340}]
7385    8000000.0                                                 []
7386    1957000.0                  [{'name': 'Profit', 'id': 21163}]
7387     126463.0  [{'name': 'Canal+', 'id': 5358}, {'name': 'Cin...
7388   10893246.0  [{'name': 'Rhea Films', 'id': 37504}, {'name':...
7389    1805884.0  [{'name': 'Rai Cinemafiction', 'id': 238}, {'n...
7390        422.0  [{'name': 'Pandemonium', 'id': 8915}, {'name':...
7391    2411594.0             [{'name': 'Talent House', 'id': 4463}]
7392   71000000.0  [{'name': 'Imagine Entertainment', 'id': 23}, ...
7393   76000000.0         [{'name': 'Enlight Pictures', 'id': 4053}]
7394      14353.0   [{'name': 'Yellow, Black & White', 'id': 42877}]
7395   66913939.0  [{'name': 'Columbia Pictures', 'id': 5}, {'nam...
7396  184770205.0  [{'name': 'Thunder Road Pictures', 'id': 3528}...
7397    7800000.0  [{'name': 'StudioCanal', 'id': 694}, {'name': ...
7398   15000000.0           [{'name': 'Sathya Movies', 'id': 16434}]
7399   19000000.0         [{'name': 'AVM Productions', 'id': 16424}]
7400    1359497.0  [{'name': 'Motlys', 'id': 2783}, {'name': 'Cop...
7401     320395.0                 [{'name': 'Lyuksor', 'id': 21946}]
7402          3.0  [{'name': 'Кинокомпания «Lunapark»', 'id': 420...
7403      50656.0  [{'name': 'Central Partnership', 'id': 9342}, ...
7404    1328612.0                                                 []
7405    1268793.0                  [{'name': 'Profit', 'id': 21163}]

[7406 rows x 2 columns]